mixin sentence(cita1, cita2, autor)
    article.Sentence
        blockquote
            p.
                #{cita1}
                #[br]
                #{cita2}
                #[br]
                #[cite #{autor}]