
ul{margin-left: 2rem;}

.container{
  /*  padding: 1rem; */
    margin: auto;
    width: 80vw;
    height: 50vh;
    border: medium solid #333;
    background-color: steelblue;

    display: grid;
    grid-auto-flow: row dense; /* row (default) | column |row dense | column dense */
    grid-template-columns:100px repeat(2, 1fr) repeat(2, 2fr) ;
    grid-template-columns: repeat(5, 10%);
    grid-template-rows:repeat(4,fit-content);
    /* grid-column-gap: 1vh;
    grid-row-gap: 1vh; */
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: space-evenly;

}

.item{
    border: thin solid #333;
    font-size: 2rem;
    background: deepskyblue;
}